<%
  let links = {};
  if (theme.social) {
    for (let name in theme.social) {
      if (theme.social[name]) {
        links[name] = theme.social[name];
      }
    }
  }
  if (theme.rss) {
    links.rss = 'rss';
  }
%>

<% if (links) { %>
  <div class="blog-footer-social">
    <ul>
      <% for (let name in links) { %>
        <% if (name === 'email') { %>
          <li><a class="iconfont icon-<%= name %>" href="mailto:<%= links[name] %>"></a></li>
        <% } else if (config.feed && config.feed.path && name === 'rss') { %>
          <li><a class="iconfont icon-<%= name %>" href="<%- url_for(config.feed.path) %>"></a></li>
        <% } else { %>
          <li><a class="iconfont icon-<%= name %>" href="<%= links[name] %>"></a></li>
        <% } %>
      <% } %>
    </ul>
  </div>
<% } %> 